*{
  margin: 0;
  padding: 0;
}

.inicio {
  text-align: center;
  background-color: #F3F3F3;
}
.productInicio{
  text-align: center;
  background-color: white;
}

.cardsInicio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
}
.navbar{
  position: absolute;
}

.inicioLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .inicioLogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.inicioHeader {
  display: flex;
  color: white;
  justify-content: center;
}

.inicioLink {
  color: #61dafb;
}
.navbar{
  display: flex;
  justify-content: center;

}
.background{
  display: flex;
  justify-content: center;
  z-index: -50;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  margin: 15px 15px;
  position: relative;
  z-index: 0;
  /* width: 60vw;*/
}

.App{
  background-color: white;
}

.text{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  color: white;
  top: 75vh;
  font-size: 30px;
}


.dinamicShop{
  display: flex;
  justify-content: center;
}



.titulo{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 20px;
  font-weight: 400;
  font-size: 2rem;
}

.info{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  font-weight: 200;
  font-size: 1.5rem;
}


.img{
  width: 2rem;
}

.p{
  margin: 10px;
  font-size: 2rem;
  font-weight: 400;
}

.logoP{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  background-color: #0071e3;
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 20px auto;
  border: none;
  font-size: 1rem;
}
.pEvent{
  font-size: 27px;
  color: #C0C0C0;
}

.textEvents{
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  color: white;
  top: 80vh;
  font-size: 30px;
}


.gridCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.valueDisplay {
  position: relative; /* Posicionamiento relativo */
  top: -3rem; /* Desplazamiento hacia arriba */
  text-align: center;
  font-size: 18px;
}





.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 95vw;
  justify-content: center;
  margin: auto;
}

.resumen {
  grid-column: 1 / 2; /* Ocupa la primera columna */
  grid-row: 1 / 2; /* Ocupa la primera fila */
}

.empresas {
  grid-column: 1 / 2; /* Ocupa la primera columna */
  grid-row: 2 / 2; /* Ocupa la segunda fila */
  text-align: left;
}

.simulador {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: #F3F3F3;
  margin: 100px 0px 0px 40px;
  border-radius: 20px;
}

.imgCEDU, .imgMELI{
  width: 200px;
  margin: 20px;
}

.confianza{
  display: flex;
  justify-content: center;
  align-items: center;

}

.input {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Apila los elementos verticalmente */
  height: 100%; /* Para que ocupe toda la altura del contenedor */
}

.range {
  width: 80%;
}

.infoSection{
  width: 95vw;
  justify-content: center;
  margin: auto;
}

.tablaComparativa {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* padding: 10px 40px 40px 40px; */
}

.aspectos {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.aspecto {
  border-right: 3px solid #86868A;
  /* border-bottom: 1px solid black; */
  margin: 10px 0px;
  padding: 10px;
  background-color: #F3F3F3;
  border-radius: 50px 0px 0px 50px;
}

.descripcion {
  text-align: left;
  /* border-right: 1px solid black; */
  /* border-bottom: 1px solid black; */
  margin: 10px 0px;
  padding: 10px;
  background: #F3F3F3;
  border-radius: 0px 50px 50px 0px;
}

.descTitulo, .aspecTutulo{
  text-align: left;
  font-weight: 500;
  padding: 10px;
}
.descripciones{
  display: flex;
    flex-direction: column;
    text-align: left;
}






.subtitulo{
  text-align: left;
  margin: 30px 0px;
  font-weight: 500;
  font-size: 2rem;
}

.subtituloSimul{
  text-align: center;
  margin: 30px;
  font-weight: 500;
  font-size: 2rem;
}



.resumen{
  text-align: left;
}


.tarjetaProductos{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: gray;
  width: 50vw;
  margin: auto;
  border-radius: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    width: 80%; /* Se establece el ancho al 80% del contenedor */
    -webkit-appearance: none;
    background-color: white;
    border-radius: 50px;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    color: #C0C0C0;
    margin-top: 5px;
    border-radius: 50%;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 15px; /* Se establece el ancho del punto deslizante */
    height: 15px; /* Se establece la altura del punto deslizante */
    -webkit-appearance: none;
    cursor: ew-resize;
    border-radius: 50px;
    background-color: #C0C0C0;
    margin-top: -7px;
  }
}









@media (max-width: 768px) {

  .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    margin: 15px 15px;
    position: relative;
    z-index: 0;
    /* width: 60vw;*/
  }

  .text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    color: white;
    top: 40vh;
    font-size: 30px;
  }

  .titulo{
    position: absolute;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
  }
  .titulo{
    display: flex;
    margin-top: 42vh;
    width: 100%;
    /* margin: auto; */
    justify-content: center;
    /* text-align: center; */
    text-decoration: none;
  }
  
  
.textEvents{
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 95%;
  color: white;
  top: 25vh;
  font-size: 30px;
}

.pEvent{
  font-size: 1rem;
  color: #C0C0C0;
  font-weight: 300;
}
}

